In [1]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd 
import numpy as np

C:\Users\raksh\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\raksh\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\raksh\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raksh\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\raksh\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raksh\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\raksh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\raksh\Downloads\archive (1)\Car_Tyres_Dataset.csv")
df.head()

,Brand,Model,Submodel,Tyre Brand,Serial No.,Type,Load Index,Size,Selling Price,Original Price,Rating
0,Maruti,Swift Dzire,LDI (Diesel),JKTyre,Taximaxx,Tubeless,85,165/80 R 14,"3,255","3,255",5.0
1,Maruti,Swift Dzire,LDI (Diesel),CEAT,Milage X3,Tubeless,85,165/80 R 14,"3,406","3,406",4.0
2,Maruti,Swift Dzire,LDI (Diesel),Apollo,Amazer 4G Life,Tubeless,85,165/80 R 14,"3,490","4,319",4.5
3,Maruti,Swift Dzire,LDI (Diesel),Continental,Comfort Contact CC6,Tubeless,85,165/80 R 14,"4,484","4,244",NaN
4,Maruti,Swift Dzire,LDI (Diesel),GoodYear,Assurance Duraplus 2,Tubeless,85,165/80 R 14,"3,025","3,025",4.2

In [5]:
df.shape

(4350, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4350 entries, 0 to 4349
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           4350 non-null   object
 1   Model           4350 non-null   object
 2   Submodel        4350 non-null   object
 3   Tyre Brand      4350 non-null   object
 4   Serial No.      4350 non-null   object
 5   Type            4350 non-null   object
 6   Load Index      4350 non-null   int64
 7   Size            4350 non-null   object
 8   Selling Price   4350 non-null   object
 9   Original Price  4350 non-null   object
 10  Rating          2248 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 374.0+ KB

In [7]:
df.describe()

        Load Index       Rating
count  4350.000000  2248.000000
mean     84.101609     4.297598
std       6.716769     0.698433
min      69.000000     1.900000
25%      79.000000     4.000000
50%      86.000000     4.300000
75%      88.000000     5.000000
max     106.000000     5.000000

In [8]:
df.isnull().sum()

Brand                0
Model                0
Submodel             0
Tyre Brand           0
Serial No.           0
Type                 0
Load Index           0
Size                 0
Selling Price        0
Original Price       0
Rating            2102
dtype: int64

In [9]:
features = df.drop(columns=['Rating', 'Serial No.'])
target = df['Rating']

In [10]:
label_encoders = {}
for column in features.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    features[column] = le.fit_transform(features[column])
    label_encoders[column] = le

In [11]:
df_not_missing = features[target.notnull()]
target_not_missing = target[target.notnull()]
df_missing = features[target.isnull()]

In [12]:
imputer = SimpleImputer(strategy='mean')
df_not_missing = imputer.fit_transform(df_not_missing)
df_missing = imputer.transform(df_missing)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(df_not_missing, target_not_missing, test_size=0.2, random_state=42)

In [14]:
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [15]:
predicted_values = model.predict(df_missing)

In [16]:
df.loc[df['Rating'].isnull(), 'Rating'] = predicted_values

In [17]:
df['Rating'].isnull().sum()
df.head()

,Brand,Model,Submodel,Tyre Brand,Serial No.,Type,Load Index,Size,Selling Price,Original Price,Rating
0,Maruti,Swift Dzire,LDI (Diesel),JKTyre,Taximaxx,Tubeless,85,165/80 R 14,"3,255","3,255",5.000
1,Maruti,Swift Dzire,LDI (Diesel),CEAT,Milage X3,Tubeless,85,165/80 R 14,"3,406","3,406",4.000
2,Maruti,Swift Dzire,LDI (Diesel),Apollo,Amazer 4G Life,Tubeless,85,165/80 R 14,"3,490","4,319",4.500
3,Maruti,Swift Dzire,LDI (Diesel),Continental,Comfort Contact CC6,Tubeless,85,165/80 R 14,"4,484","4,244",4.222
4,Maruti,Swift Dzire,LDI (Diesel),GoodYear,Assurance Duraplus 2,Tubeless,85,165/80 R 14,"3,025","3,025",4.200

In [18]:
df.isnull().sum()

Brand             0
Model             0
Submodel          0
Tyre Brand        0
Serial No.        0
Type              0
Load Index        0
Size              0
Selling Price     0
Original Price    0
Rating            0
dtype: int64

# Demand for Tube Vs TubeLess Tyre

In [41]:
df.to_csv('output.csv', index=False)